.list-group-horizontal .list-group-item {
	width: 100%;
	font-size: 11px;
    text-align: center;
    white-space: nowrap;

}
.list-group-horizontal .list-group-item {

}

.navbtn
{
    align-content: center;
    margin-top: 50px;
}