
/* Css for Addinding Roww Table AddRowForm.jsx Content  */

  /*  */
.input_add{
    margin: 0%!important;
    text-align:center!important;
}

.input_check{
  height: 15px!important;
  width: 15px!important;
  margin: 10px!important; 
}

.add-row-tr{
  background: rgba(108, 145, 81, 0.144);
}

.btnaddrow{
  margin: 0%;
}