
/* Css for Addinding Roww Table AddRowForm.jsx Content  */

  /*  */
.input_add{
    margin: 0%!important;
    text-align:center!important;
}

.input_check{
  height: 15px!important;
  width: 15px!important;
  margin: 10px!important; 
}


