.header {
    background: -webkit-linear-gradient(to right, #A5CC82, #00467F);
    background: linear-gradient(to right, #A5CC82, #00467F);
    box-shadow: 0 1px 7px -1px rgba(0,0,0,0.2);
    height: 40px;
    font-weight: bold;
    margin-bottom: 0% !important;
}

.link{
    color: whitesmoke;
}

.header .icon {
    position: relative;
    bottom: 1px;
    margin-right: 3px;
}

.header h3 {
    font-family: Arial;
    font-weight: 800;
    margin-bottom: 0px;
    color: #06212b;
    text-shadow: 0px 2px 3px rgba(97, 97, 97, 0.73)
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.568) !important;
}