/* 
/* Horizontal Tabs */
.nopadding{
   padding: 0 !important;
   margin: 0 !important;
}
.horizontal-tabs .nav-tabs {
    width: 100%;
    font-size: 15px;
    padding-top: 10px;
    height: 45px;
    border-color: rgba(108, 145, 81, 0.274)!important;
    background: rgba(126, 204, 226, 0.06);
    border-bottom: 1px ridge ;
}

.horizontal-tabs .nav-tabs .nav-link:hover {
    color: rgba(0, 0, 0, 0.733);
}
 
.horizontal-tabs .nav-tabs .nav-link {
    font-weight: bold;
    border-bottom: 0px;
    margin-left: 30px; 
    color: #00695c;
    height: 25px;
    outline: none;
}

.horizontal-tabs .nav-tabs .nav-link.active {
    border-top-width: 3px;
    height: 35px;
    border-color: #00695d86;
}

.cardtabs{
    background: transparent;
    top: 0;
    height: 800px;
    width: 100%;
}


/* For the Future If Responsive Device is not Fit we can set Style here  */

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
 
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  } 