
/* Horizontal Tabs */
.horizontal-tabs .nav-tabs {
    width: 100%;
    font-size: 13px!important;
    padding-top: 10px;
    padding-right: 10px;
    height: 65px;
    border-color: rgba(108, 145, 81, 0.144)!important;
    border-bottom: 1px ridge ;
}

.horizontal-tabs .nav-tabs .nav-link:hover {
    color: rgba(0, 0, 0, 0.733)!important;
}
 
.horizontal-tabs .nav-tabs .nav-link {
    border-bottom: 0px !important;
    margin-left: 10px; 
    padding: 15px;
    color: #00695c!important;
    background: linear-gradient(to right, rgba(108, 145, 81, 0.137), rgba(108, 145, 81, 0.144));
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    height: 45px;
    outline: none;
    border-top-left-radius: 10%;
    border-top-right-radius:10%;
}

.horizontal-tabs .nav-tabs .nav-link.active {
    font-weight: bold!important;
    border-top-width: 3px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    height: 55px;
    border-color: #00695d86;

}

.cardtabs{
    background: transparent;
    top: 0;
    height: 800px;
    border: 1px solid lightgray;
}

/* For the Future If Responsive Device is not Fit we can set Style here  */

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
 
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }