
/* Horizontal Tabs */
.horizontal-tabs .nav-tabs {
    width: 100%;
    font-size: 15px;
    height: 85px;
    border-color: rgba(108, 145, 81, 0.274)!important;
    border-bottom: 1px ridge ;
}

.horizontal-tabs .nav-tabs .nav-link:hover {
    color: rgba(0, 0, 0, 0.733);
}
 
.horizontal-tabs .nav-tabs .nav-link {
    margin-top: 20px;
    border-bottom: 0px;
    margin-left: 10px; 
    padding: 15px;
    color: #00695c;
    background:  rgba(108, 145, 81, 0.137);
    transform: translateY(10);
    -webkit-transform: translateY(10px);
    height: 55px;
    outline: none;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.horizontal-tabs .nav-tabs .nav-link.active {
    font-weight: bold;
    border-top-width: 3px;
    background: white;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    height: 65px;
    border-color: #00695d86;
}

.cardtabs1{
    background: transparent;
    top: 0;
    height: 800px;
    border-right: 1px solid lightgray;
}

.cardtabs2{
    background: transparent;
    top: 0;
    height: 800px;
    /* border-right: 1px solid lightgray; */
}

/* For the Future If Responsive Device is not Fit we can set Style here  */

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
 
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }