/* Css for Table component Content  */

  .flexclass{
    display: flex;
  }

  .btnaddqueue {
    font-size: 15px!important;
    color: rgb(102, 102, 102);
    margin-top: 2px;
    height: 30px;
    width: 145px;
  }
  
  /*  Table Style  */
  .sctable{
   width: 100%;
  }
  
  .sctable caption{
    caption-side: top;
  } 

  .sctable tbody{
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100px;
  }
  
  .sctable thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  
  thead {
    width: calc( 100% - 15px )
  }
  
  .sctable th, .sctable td  {
    padding: 0%!important;
    height: 20px;
    text-align: center;
  }
  
  .sctable tr:hover{
    background: #dcedc8!important;
  }

  .checkall {
    margin: 0%!important;
    height: 15px!important;
    width: 15px!important;
  }

  .form-control{
    padding: 0%!important;
  }
  
  .input_th{
    border: none!important;
    background:  none!important;
    text-align:center!important;
    color: #00695c;
    text-align: center;
    white-space: nowrap;
  }
  
  .input_th:focus{
    /* box-shadow:none!important; */
  }


/* Css for Edit Row Table .jsx Content  */

.save-icon{
    color: #7cb342!important;
    margin-left:5px; 
}

.cancel-icon{
    color: #b34242!important;
    margin-left:10px; 
}

.save-cancel {
    margin-top: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  


/* Css for Table Row Data input RowList.jsx Content  */
.input_form[type="checkbox"]{
    height: 15px;
    width: 15px;
    margin-top: 18px; 
    margin-left: 40%;
}

.input_form[type=number] {
  -moz-appearance:textfield;
}

.input_edit[type="checkbox"]{
    height: 15px;
    width: 15px;
    margin-top: 18px; 
    margin-left: 40%
}

.input_check{
    height: 15px;
    width: 15px;
    margin-top: 8px; 
    margin-right: 4px
  }
  .input_edit{
    text-align:center;
  }
  .input_form{ 
      border: none!important;
      background:  none!important;
      text-align:center;
  }
  .input_form:focus{
      box-shadow:none;
 }

 .btnaddrow{
    margin-top: 10px; 
    margin-right: 10px; 
    padding: 0%!important; 
    height: 25px; 
    width: 25px; 
 }
  .drag-icon{
      cursor: all-scroll;
      margin-top: 7px;
      margin-right: 10px; 
  }
  
  .index-row{
      margin-top: 5px!important; 
      margin-left: 6px
  }
  
