
/* Css for Seu.jsx Content  */
.sc{
    /* position: relative; */
    caption-side: top;
    height: 600px;
    padding: 0%!important;
}
.sctitle{
    margin-top: 40px;
    align-content: center;
    text-align: center;
    width: 100%;
}
.sctitle h3{
    margin-left: 33%;
    align-content: center;
    text-align: center;
    width: 400px

}

.bar{
    position: relative;
    align-content: center;
}
.btnaddqueue {
   position: relative; 
    font-size: 14px!important;
    background: #7cb342!important;
    color: #fff!important;
    margin-left: 10px;
    width: 150px;
    height: 40px;
}
.panel-heading{
    background: #dcedc8;
    display: flex;
    width:100%; 
}
.sctable{
    border-collapse: collapse;
  background: white;
  /* table-layout: fixed; */
  width: 100%;
  }

  th, td {
    /* padding: 8px 16px; */
    /* border: 1px solid #ddd; */
    /* width: 160px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.table-wrap{
    width:100%;
    max-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}
/* css  Application only when draging  */
.sctable tr{
    width: 56%!important;
}
.sctable tr:hover{
    background: #dcedc8!important;
}
.sctable td{
   margin: 0%!important;
}
.sctable th{
    color: #00695c;
    text-align: center;
  }

.input_queue-name{
    text-align:center!important;
    margin: 0px!important;
    width: 150px!important;
    background: none!important;
}
/*  */
.flexclass{
    /* display: flex; */
    display: -webkit-flex;
    -webkit-align-content: center;
    align-content: center;
}


.md-icon{
    height: 20px!important;
    width: 20px!important;
    cursor: pointer!important;

}