
/* Css for Seu.jsx Content  */
.sc{
    position: relative;
    caption-side: top;
    margin-left: 0px;
    margin-right: 0px;
    height: 600px
}

.navbartop{
    position: relative;
}

.bar{
    position: relative;
    align-content: center;
}
.btnaddqueue {
    position: relative;
    /* top: 65px; */
    margin-top: 30px!important;
    font-size: 12px!important;
    background: #7cb342!important;
    color: #fff!important;
    width: 140px;
}
.gridtable tr:hover{
  background: #dcedc8!important;
}
.thead th{
    background: #dcedc8;
    color: #00695c;
    max-height: 10px!important;
    font-size: 13px!important;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
  
.input_form{
    border: none!important;
    background:  none!important;
    text-align:center!important;
}
.btnadd{
  height: 30px;

}
.flexclass{
    display: flex;
    margin-right: 5px!important;
}

.labelinput{
    position: relative;
    top: 0%;
    margin-top: 0%!important;
    background: #00695c!important;
    color: #fff!important;
    font-size: 12px!important;
}
.folderU{
    margin-top: 30px!important;
}

.md-icon{
    height: 25px!important;
    width: 25px!important;
    cursor: pointer!important;
    margin: 0px!important;
}
.del-icon{
    color: #f82424;
}
.edit-icon{
    color: orange;
}

.save-icon{
    color: #7cb342;
}

.cancel-icon{
    color: #b34242;
}
.drag-icon{
    cursor: grab!important;
    margin-left: 10px!important;
}

