
/* Css for Seu.jsx Content  */
.sc{
    /* position: relative; */
    caption-side: top;
    height: 600px;
    padding: 0%!important;
}
.sctitle{
    margin-top: 40px;
    align-content: center;
    text-align: center;
    width: 100%;
}
.sctitle h3{
    margin-left: 33%;
    align-content: center;
    text-align: center;
    width: 400px

}

.bar{
    position: relative;
    align-content: center;
}

.panel-heading{
    background: #dcedc8;
    display: flex;
    width:100%; 
    height: 34px;
}

.input_queue-name{
    text-align:center!important;
    margin: 0px!important;
    width: 150px!important;
    background: none!important;
    height: 33px!important;
}
.columnCh{
    font-size: 13px!important;
    background: #7cb342!important;
    color: #fff!important;
    width: 90px;
}
.btnaddqueue {
    font-size: 13px!important;
    background: #7cb342!important;
    color: #fff!important;
    margin-left: 10px;
    margin-top: -7px;
    width: 140px;
 }

/*  Table Style  */
.sctable{
    border-collapse: collapse;
  background: white;
  /* table-layout: fixed; */
  width: 100%;
  }

  th, td {
    /* padding: 8px 16px; */
    /* border: 1px solid #ddd; */
    /* width: 160px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.table-wrap{
    width:100%;
    max-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}
/* css  Application only when draging  */
.sctable tr{
    width: 56%!important;
}
.sctable tr:hover{
    background: #dcedc8!important;
}
.sctable td{
   margin: 0%!important;
}
.sctable th{
    color: #00695c;
    text-align: center;
  }

.checkall {
    height: 15px!important;
    width: 15px!important;
  }
  

