
    .login {
     
    }
  
    .login-inner {
      margin: 0 auto;
      max-width: 25%;
      padding: 140px 0;
    }

    .login .card {
      box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.4);
    }
    .login .required {
      display: none;
    }

    .login #root__title {
      display: none;
    }

    .login form {
      padding: 2em 7em 2em 6em;
    }

    .login button {
      width: 100%;
     
    }  