
/* Css for Seu.jsx Content  */
.sc{
    position: relative;
    caption-side: top;
    margin-left: 10px;
    margin-right: 10px;
    /* height: 100px */
}
.sctable{
    position: relative;
    caption-side: top;
    height: 100px

}
.navbartop{
    position: relative;
}

.bar{
    position: relative;
    align-content: center;
}
.btnaddqueue {
    /* position: relative; */
    /* left: 87.5%; */
    background: #7cb342!important;
    color: #fff!important;
    width: 160px;
    height: 40px
}

.labelinput{
    position: relative;
    top: 0%;
    margin-top: 0%!important;
    background: #00695c!important;
    color: #fff!important;
}
/* .folderU{
    position: relative;
    top: 0%!important;
    margin-top: 0%!important;
} */

/* Css for Sc Table  */
