
/* Css for Seu.jsx Content  */
.sc{
    position: relative;
    caption-side: top;
    margin-left: 0px;
    margin-right: 0px;
    /* height: 100px */
}
.sctable{
    position: relative;
    caption-side: top;
    height: 100px

}
.navbartop{
    position: relative;
}

.bar{
    position: relative;
    align-content: center;
}
.btnaddqueue {
    margin-top: 30px!important;
    font-size: 12px!important;
    background: #7cb342!important;
    color: #fff!important;
    width: 140px;
}

.labelinput{
    position: relative;
    top: 0%;
    margin-top: 0%!important;
    background: #00695c!important;
    color: #fff!important;
    font-size: 12px!important;
}
.folderU{
    margin-top: 30px!important;
}

.md-icon{
    height: 25px!important;
    width: 25px!important;
    cursor: pointer!important;
    margin: 10px!important;
}
.del-icon{
    color: #f82424;
}
.edit-icon{
    color: orange;
}

.save-icon{
    color: #7cb342;
}

.cancel-icon{
    color: #b34242;
}
/* Css for Sc Table  */
