.main {
  background: rgb(250, 251, 252);
}

input:focus,
select:focus,
textarea:focus,
button:focus,
btn:focus {
    outline: none;
}

.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 40em;
  height: 6em;
}

.hidden {
  display: none;
}
