.fabprogress:focus{
    outline: none !important;
}

.fabprogress{
    width: 30px !important;
    height: 25px !important;
    outline: none; 
    background-color: #7cb342!important;
}

.checkiconprogress{
    background-color: #7cb342!important;
    color: #fff!important;
}

.stariconprogress{
    color: #c3d2d3!important;

}