
.colpopover{
  width: 220px;
  height: 620px;
  padding-left: 15px;
}
.divch{
  margin-top: 8px;
}
.columnCh{
  cursor: pointer;
  margin-right: 10px;
  font-size: 20px;
  color: #8bc34a;
}

.columnCh:hover{
  border-radius: 20%;
  color: white;
  background: rgb(102, 102, 102);
}

.list-group-column{
  padding-top: 5px!important;
  height: 32px;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    width: 30px;
    height: 17px;
    float:right;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input.success:checked + .slider {
    background-color: #8bc34a;
  }

  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }