
/* Css for Edit Row Table .jsx Content  */

.input_edit{
    margin: 0%!important;
    text-align:center!important;
}
.input_check{
  height: 15px;
  width: 15px;
  margin: 10px!important; 
}


.save-btn{
    color: #7cb342!important;
}

.cancel-btn{
    color: #b34242!important;
}

.save-cancel {
    height: 20px;
    width: 20px;
  }
  