.flexclass{
  display: flex;
  margin-right: 5px!important;
}

.check-icon{
  height: 20px!important;
  width: 20px!important;
  cursor: pointer!important;
  margin: 2px!important;
}
.del-icon{
  color: #f82424;
}
.edit-icon{
  color: orange;
}
