@media (max-width: 872px) {
    table.sv-data-table {}
    div.parameter-pg-col {
        min-width: 100%!important;
        padding: 0;
    }
    .card {
        display: block;
        margin: 10px auto!important;
        min-width: 100%!important;
    }
}

@media (min-width: 872px) {
    .parameters-container {
        background: lightPink;
        margin: 0 auto;
        max-width: 840px;
        padding: 10px;
    }
    .card {
        width: 195px;
    }
}


/* Horizontal Tabs */

.horizontal-tabs {
    font-size: 14px;
    font-size: bold;
    padding: 10px;
    color: #030000
}

.horizontal-tabs .nav-tabs .nav-link {
    background-color: rgb(225, 236, 238);
    border: 1px solid transparent;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    padding: 15px;
    margin-right: 30px;
}

.horizontal-tabs .nav-tabs .nav-link.active {
    background: #00467F;
    background: -webkit-linear-gradient(to right, rgba(165, 204, 130, 0.877), rgba(0, 70, 127, 0.829));
    background: linear-gradient(to right, rgba(165, 204, 130, 0.877), rgba(0, 70, 127, 0.829));
    color: #fff;
}

.horizontal-tabs .tab-content>.active {
    background: #fff;
    display: block;
}

.horizontal-tabs .nav.nav-tabs {
    border-bottom: 0;
    border-right: 1px solid transparent;
    background-color: rgb(225, 236, 238);
    border-top-right-radius: 0.7rem!important;
}

.horizontal-tabs div.tab-content {
    border: solid rgb(225, 236, 238)!important;
    max-height: 1000px;
}

.horizontal-tabs .sv-tab-panel {
    background: #fff;
    height: 1000px;
    padding-top: 10px;
    padding: 10px
}

@media (max-width: 967px) {
    .nav.nav-tabs {
        border-bottom: 0;
        border-right: 1px solid transparent;
        display: block;
        margin-right: 20px;
        width: 100%!important
    }
    .horizontal-tabs .nav-tabs {
        width: 100%;
        padding: 0
    }
}