.popinput-input-label{ 
    display: block;
    min-width: 90px;
    font-weight: bold;
  }
 
.popinput-busy-buttonbar{
  display: inline-block;
  float: right;
}
  
.popinput-input-busy{
  display: inline-block;
  background-image: url(../../img/busy-indicator.gif);
  height: 32px;
  width: 32px;
}

.popinput-input{
  height: 31px;
  margin-right: 1m;
}

.visibility-hidden{ 
  visibility: hidden;
  display: inline;
}
  
.value-label-enter-success{
  transition: background-color 1000ms ease-out;
}
  
.popinput-input-container {
  display: inline;
}

.popinput-form-container {
  margin: 0.2em;
}
    
.popinput-input-editicon {
  visibility: hidden;
  color: #999;
  margin-right: 5px;
}
  
.popinput-input-link{
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.popinput-input-link:hover {
  visibility: visible;
  text-decoration:none;
}

.popinput-input-link:hover > .popinput-input-editicon {
  visibility: visible;
}
  
.editable-click {
  cursor: pointer;
}
  