
/* Horizontal Tabs */
.contain{
    margin-left: 0% !important;
    position: relative;
    left: -15px;
    width: 99%;
}

.horizontal-tabs .nav-tabs {
    font-size: 13px!important;
    font-weight: bold!important;
    width: 100%;
    background: linear-gradient(to right, rgba(153, 184, 127, 0.158), rgba(153, 184, 127, 0.158));
    padding-top: 10px;
    padding-right: 10px;
    height: 65px;
    border-color: #00695da8!important;
    border-bottom: 1px ridge ;
    box-shadow: 0 3px 15px rgba(0,0,0,0.30), 0 10px 8px rgba(0,0,0,0.22)!important;
}

.spec .nav-tabs .nav-link {
    width: 47%!important;
}

.horizontal-tabs .nav-tabs .nav-link:hover {
    color: rgba(0, 0, 0, 0.733)!important;
}

.horizontal-tabs .nav-tabs .nav-link {
    width: 19%;
    border-bottom: 0px !important;
    margin-left: 7px; 
    padding: 15px;
    color: #00695c!important;
    background:rgba(153, 184, 127, 0.37);
    border-color: #00695da8;
    text-align: center;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    height: 45px;
    outline: none;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.horizontal-tabs .nav-tabs .nav-link.active {
    /* border-bottom: 0px!important; */
    color: rgba(0, 0, 0, 0.733)!important;
    border-width: 1.5px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    height: 55px;
    border-color: #00695da8;

}

.horizontal-tabs .nav-tabs .nav-link.active::after {
  content: "";
  /* background: #fff; */
  /* height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0; */
}

.row{
    z-index:2 !important;
}
.card{
    background: transparent;
    position: relative;
    top: 0;
    left: 2.5%;
}

.appbar:hover{
    /* box-shadow: 0 2px 5px rgba(165, 204, 130, 0.877), 0 3px 5px rgba(0, 70, 127, 0.829); */
}

@media (max-width: 967px) {
    .contain{
        z-index:2 !important;
    }
    .nav.nav-tabs {
        border-bottom: 0;
        display: block;
        margin-right: 20px;
        width: 100%!important
    }
    .horizontal-tabs .nav-tabs {
        /* width: 100%!important; */
        font-size: 9px!important;
        padding: 0
    }
    .horizontal-tabs .nav-tabs .nav-link {
        border: 1px solid transparent;
        /* width: 15%; */
        margin-left: 7px; 
        /* padding: 15px; */
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        border-top-left-radius: 15%;
        border-top-right-radius: 15%;
    }
}

@media only screen and (max-width: 768px) {
    /* Design for mobile */
    [class*="col-"] {
        width: 100%;
    }
}

/* Design for mobile */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 481px) {
    /* Design for tablets */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
   .col-m-3 {width: 25%;}
   .col-m-4 {width: 33.33%;}
   .col-m-5 {width: 41.66%;}
   .col-m-6 {width: 50%;}
   .col-m-7 {width: 58.33%;}
   .col-m-8 {width: 66.66%;}
   .col-m-9 {width: 75%;}
   .col-m-10 {width: 83.33%;}
   .col-m-11 {width: 91.66%;}
   .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 769px) {
    /* Design for desktop */
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
   .col-10 {width: 83.33%;}
   .col-11 {width: 91.66%;}
   .col-12 {width: 100%;}
}
