    @media all and (min-width: 480px) {
        .bmstatus {
            position: relative;
            height: 90px;
            max-width: 100%;
            margin-bottom: 50px;
            z-index:9999 !important;
            position:relative;
            float: none!important;
        }
        .bmstatus:hover {
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 5px rgba(121, 138, 155, 0);
            position: relative;
            background: linear-gradient(to right, rgba(153, 184, 127, 0.479), rgba(153, 184, 127, 0.479));
            -webkit-transition-property: color;
            transition-property: color;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }
        .nav {
            margin: 0;
            padding-right: 5px;
            width: 140px
        }
        .name {
            color: rgb(6, 80, 85)!important;
            font-size: 13px !important;
            margin-right: 10px;
            width: 140px;
        }
        .badge {
            width: 100%;
            height: 25px;
            position: relative;
        }
    }

    /* change navbar background on collapse */
@media (max-width: 768px) {
    .collapse {
        background-color: rgba(153, 184, 127, 0.479);
        width: 153px!important;
        margin: 0%;
        border-radius: 20px;
    }
    .nav {
        margin: 0;
        padding-right: 5px;
        width: 144px
    }
    .bmstatus {
        width: 180px!important;
    }
    .name {
        color: rgb(6, 80, 85)!important;
        font-size: 9px !important;
        margin-right: 10px;
        width: 135px;
    }
    .badge {
        width: 100%;
        height: 25px;
        position: relative;
    }
  }